/*encabezado*/
header{

}
/*meú de navegacion*/
nav{
    width: 30%;
    float: left;
}
/*seccion*/
section{
    float: right;
    width: 50%;
    margin-right: 8%;
}
/*footer*/
footer{
    clear: both;
    text-align: center;
}