/*nav*/
nav{
    
    width: 20%;
    float: left;
}
/*seccion*/
section{
   
    width: 40%;
    margin-left: 5%;
    float: left;
}
/*aside*/
aside{
  
    width: 25%;
    margin-left: 5%;
    float: left;
}
/*footer*/
footer{
   
    text-align: center;
    clear: both;
}

header{
    
}