html{
    background-color: #113f67;
}
body{
    color: black;
    background-color: invory;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4{
    color: #65c6c4;
    background-color: #113f67;
}
h2{
    font-size: 1.5em;
}
nav > ul{
    line-height: 2em;
    list-style-type: none;
    padding-left: 5px;
}
body > footer{
    background-color: #408ab4;
    color: #113f67;
    font: normal small-caps bold 0.9em/3em;
    text-align: center;
}
nav > ul > li > a:link, nav > ul > li a:visited{
    color: #65c6c4;
    text-decoration: none;
}
nav > ul > li > a:hover, nav > ul > li a:active{
    color: #a0cc78;
}
footer > a:link, footer > a:visited{
    color: #a0cc78;
    text-decoration: none;
}
footer >a:hover, footer > a:active{
    color: #207561;
}
body{
    /*ajuste de ancho*/
    max-width: 960px;
    min-width: 640px;
    width: 95%;
    /*margen automatico*/
    margin-left: auto;
    margin-right: auto;
}
header, section, footer, aside, nav, article, hgroup{
    display: block;
}
body > header > img{
    display: block;
    width: 100%;

}
nav{
    width: 200px;
    float: left;
}
nav{
    font-size: 100%;
    width: 160px;
    padding: 0px;
    margin: 0px;
}

nav {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 160px;
    padding: 0px;
    margin: 0px;
    }
    
    nav   {
        border-radius: 25px;
        display: block;
        background-color: #408ab4;
        font-size: 90%;
        padding: 20px;
        width: 200px;
        height: auto;
        border: 1px solid #408ab4;
        color: #333333;
        margin: 0px;
        width:159px;
        margin-left: 20px;
    }
    nav>ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: none;
    }
    nav > ul > li {
    margin: 0px;
    padding: 0px;
    }
    nav > ul > li > a {
    font-size: 80%;
    display: block;
    border-bottom: 1px dashed #65c6c4;
    padding: 5px;
    text-decoration: none;
    width:160px;
    z-index: 9999;
    
   
    }
    nav > ul > li > a:hover, nav > ul > li > a:focus {
    color: #207561;
    background-color: #eeeeee;
    }
/* seccion */
section{
    margin-left: 250px;
    width: 650px;
    float: center;
}
/* article*/
article{
    width: 375px;
    float: left;
    background-color: #34699a;

}
/*aside*/

aside{
    width: 250px;
    float: right;
    background-color: #34699a;
}
/* footer*/
footer{
    clear: both;
}
/* body */
body {
    max-width: 960px;
    min-width: 640px;
    width: 95%;
    background-color: #34699a;
}
.barraBusqueda{
    width: 640px;
    text-align: right;
}
